<h2>New Post</h2>
<form method="post" action="/post/new" class="col-md-6">
	<div class="row">
		<div class="col-md-6 form-group">
			<label for="titleInput">Title:</label>
			<input id="titleInput" class="form-control" type="text" name="title" placeholder="Enter the title" required>
		</div>
	</div>

	<div class="form-group">
		<label for="bodyInput">Body:</label>
		<textarea id="bodyInput" class="form-control" rows="8" name="body" placeholder="Enter the body" required></textarea>
	</div>

	<div class="form-group">
		<button class="btn btn-default" type="submit">Submit</button>
	</div>
</form>
